// cores
$text-dark-color:#eee;//
$text-light-color:#eee;

$bg-dark-color:#002f30;//
$bg-light-color:#1b6d69;

$primary-dark-color:#093c3d;//
$primary-light-color:#1b6d69;

$second-dark-color:#114949;
$second-light-color:#1d595a;

$hover-dark-color:#beee3b;
$hover-light-color:#333;





